aniso8601==8.0.0
astroid==2.4.2
attrs==20.3.0
click==7.1.2
coverage==5.3
Flask==1.1.2
Flask-RESTful==0.3.8
iniconfig==1.1.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.5
pluggy==0.13.1
py==1.10.0
pylint==2.5.3
pyparsing==2.4.7
pytest==6.1.2
pytest-cov==2.10.1
pytz==2020.1
six==1.15.0
toml==0.10.1
Werkzeug==1.0.1
wrapt==1.12.1
